<div>
  <h1 align="center">Welcome to Your Vehicle Registry!</h1>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="https://i.imgur.com/FLCRoMA.jpg">
  </div>
</div>

<% if session[:user_id] %>
  <h1>Name: <%= current_user.name %></h1>
  <h2>Email: <%= current_user.email %></h2>
  <h2>Google UID: <%= current_user.uid %></h2>
  <img src="<%= current_user.image %>">
<% end %>
