<div>
  <h1 align="center">Welcome to Your Vehicle Registry!</h1>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="https://i.imgur.com/FLCRoMA.jpg">
  </div>
</div>

<%= link_to "Sign Up", new_car_path %> | <%= link_to "Login", session_path %>