<table>
  <thead>
    <tr>
      <th>Car Make</th>
      <th>Car Model</th>
      <th>Car Year</th>
      <th>Car Color</th>
      <th>Car Size</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to "New Car", new_car_path %>